{{ partial "header" . }}
<article>
	<header>{{ partial "title" . }}</header>
	{{ $c := .Content }}
	{{ $c := replaceRE "<img src=\"([^\"]*)#(\\d+)x(\\d+)\"" "<img src=\"$1\" width=\"$2\" height=\"$3\"" $c }}
	{{ $c := replaceRE "<img src=\"([^\"]*)#([^\"]*)\""      "<img src=\"$1\" class=\"$2\"" $c }}
	{{ $c := replaceRE "<img src=\"../../static/([^\"]*)\""  "<img src=\"/$1\"" $c }}
	{{ $c | safeHTML }}
</article>
<nav class="no-print post-nav">
{{ if .PrevInSection }}
	<a class="prev-post" href="{{ .PrevInSection.Permalink }}">
		<img class="icon-text" src="/img/prev.svg"/>
		{{- .PrevInSection.Title -}}
	</a>
{{ end }}
{{ if .NextInSection }}
	<a class="next-post" href="{{ .NextInSection.Permalink }}">
		{{- .NextInSection.Title -}}
		<img class="icon-text" src="/img/next.svg"/>
	</a>
{{ end }}
</nav>
{{ partial "related" . }}
{{ if in .Site.Params.UtterancesSections .Section}}
	{{ partial "utterances" .}}
{{ end }}
{{ if in .Site.Params.DisqusSections .Section }}
	{{ partial "disqus" . }}
{{ end }}
{{ partial "footer" . }}
