{{ with .Site.Params.Linkedin }}
<li><a href="{{.}}"><img class="icon-social" src="/img/linkedin.svg" alt="Linkedin"/></a></li>
{{ end }}
{{ with .Site.Params.Email }}
<li><a href="mailto:{{.}}"><img class="icon-social" src="/img/email.svg" alt="Email Me!"/></a></li>
{{ end }}
{{ with .Site.Params.Github }}
<li><a href="{{.}}"><img class="icon-social" src="/img/github.svg" alt="Github"/></a></li>
{{ end }}
{{ with .Site.Params.Twitter }}
<li><a href="{{.}}"><img class="icon-social" src="/img/twitter.svg" alt="Twitter"/></a></li>
{{ end }}
